# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Downloaded datasets
data/

# Model checkpoints
*.pth

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/

# IDE specific files
.vscode/
.idea/

# Logs
*.log